@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
    --color-primary : oklch(54.1% 0.281 293.009);
    --font-display : "Manrope", sans-serif;
    --font-samriddha:  "Inter", sans-serif
}